/* styles/AboutUs.module.css */

.container {
  padding: 20px;
}

.section {
  margin-bottom: 20px;
}

.h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.a {
  color: #0070f3; /* 원하는 색상으로 변경 */
  text-decoration: none;
  transition: color 0.3s ease;
}

.a:hover {
  color: #005bb5; /* 호버 시 색상 변경 */
  text-decoration: underline;
}
