.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}

.title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  margin-bottom: 20px;
}

.image {
  object-fit: cover;
  border-radius: 12px;
}

.meatCut {
  text-align: center;
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 20px;
}

.description {
  line-height: 1.7;
  font-size: 1rem;
  color: #444;
  margin-top: 20px;
}

.error,
.noIngredient {
  text-align: center;
  color: red;
  margin-top: 50px;
}
.ingredientsBox {
  padding-left: 10px;
}
