/* styles/RecipeDetail.module.css */

.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.h1 {
  text-align: center;
  margin-bottom: 20px;
}

.image {
  border-radius: 8px;
  object-fit: cover;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 400px; /* 원하는 높이로 조절 */
  margin-bottom: 20px;
}

.description {
  margin-top: 20px;
  font-size: 1em;
  line-height: 1.6;
}

.ingredientsList {
  list-style-type: none;
  padding-left: 0;
}

.ingredientsList li {
  margin-bottom: 10px;
  font-size: 1em;
}

.instructions {
  margin-top: 20px;
  font-size: 1em;
  line-height: 1.6;
}

.youtubeContainer,
.videoContainer {
  margin-top: 20px;
}

.error {
  color: red;
  text-align: center;
  margin-top: 50px;
}

.backLink {
  display: inline-block;
  margin-top: 20px;
  color: #0070f3;
  text-decoration: none;
}

.backLink:hover {
  text-decoration: underline;
}
.title {
  font-size: 1.5rem;
  margin: 15px 0;
}

.details {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.detail {
  font-size: 1rem;
  color: #555;
}